/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

header, nav, aside, main, main #principal, main #secundario, footer {
  border: 2px solid #777;
}

header { clear: both; padding: 1em;}
nav { clear: both; padding: .5em; margin-bottom: .5em; }
div#aside { float: left; width: 20%; }
div#main { float: right; width: 80%; }
main #principal { float: left; width: 78%; }
main #secundario { float: right; width: 20%; }
footer { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
header #logo { float: left; }
header #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
nav ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
main section article img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
footer .enlaces   { float: left; }
footer .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios.
   ================================================================== */

#noticias, #publicidad, main, #secundario { padding: .5em; }
footer {padding-top: .5em; padding-top: .5em; margin-top: 1em}
article {margin-bottom: 1em;}
article img {margin: .5em;}
#publicidad {margin-top: 1em;}