header h1 {text-align: center; background-color: lightgray; }
aside, article {float: left;}
aside {width: 30%;}
nav div {
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    margin-left: 0px;
}
article {width: 70%;}
.article h2 {
    border: 1px solid #000;
    text-align: center;
    padding: 0.5em;
}
table {
    text-align: left;
    margin: auto;
}
.article td, .article th {
    padding: 0.5em;
    border-bottom: 1px solid lightgray;
}
aside div {margin: 1em; }
div.imgaside, nav.aside {display: flex; justify-content: center; }

div.article { border: 1px solid blue; padding: .5em;}
div.imgaside img {width: 70%; margin: auto;}
footer div.footer {float: left; width: 33.3%; text-align: center;}
footer div.footerint { border: 3px solid black; background-color: lightgray; margin: 1em; }
footer table { width: 100%; }